:root {
	/* Colors */
	--primary-light: #f29b50;
	--primary-dark: #be662a;
	--unselected-light: #f0f1f3;
	--unselected-dark: #c4c6d0;
	--light: #ffffff;
	--gray: #c4c6d0;
	--dark: #666666;
	--red: #e74c3c;
	--button-shadow: #9f4d16;
	--background: #ffffff;

	/* Font-weight */
	--regular: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;

	/* Icons */
	--shopping-cart: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/shopping-cart-icon.svg");
	--shopping-cart-plus: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/shopping-cart-plus-icon.svg");
	--back-icon: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/arrow-icon.svg");
	--trash-icon: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/trash-icon.svg");
	--clock-icon: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/clock-icon.svg");
	--ethereum-icon: url("https://luckyfox-world.luckyfox.dev/assets/img/icons/ethereum-icon.svg");

	/* Images */
	--product-background: url("https://luckyfox-world.luckyfox.dev/assets/img/background/product-background.png");
	--ticket-background: url("https://luckyfox-world.luckyfox.dev/assets/img/background/ticket.svg");
	--background-fox: url("https://luckyfox-world.luckyfox.dev/assets/img/background/background-fox.png");
	--footer-fox: url("https://luckyfox-world.luckyfox.dev/assets/img/background/footer-fox.png");

	/* Other */
	--container-padding: 5vw;
	--border-radius: 5px;
	--border-size: 3px;
}
